{% extends "main.html" %} {% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>登录名</th>
                <th>昵称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>{{user.loginName}}</td>
                <td>{{user.name}}</td>
                <td>
                    <a href="/admin/user/edit/{{user.id}}">编辑</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}